@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="Test example for Tyler" />

<ProjectPreview Title="Test Title" Description="Test Description" Image="nonce.jpg" />
<ProjectPreview Title="Test Title 2" Description="Test Description 2" Image="tet.jpg" />
<ProjectPreview Title="Test Title 3" Description="Test Description 3" Image="6mil.jpg" />
